<a href="https://colab.research.google.com/github/vincepogz/CUNY2X-TTP-Notes/blob/main/Day_3_Warmup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DAY 3 WARMUP
##by: Vince Pamolarco

#1. CREATE A LIST THAT HOLDS 5 DATA VARIABLES

In [67]:
#Creating my list "mylist5"
mylist5 = ['NYC', 123, True, float(100.0), bool(0) ]
mylist5 #display mylist5

['NYC', 123, True, 100.0, False]

#2. CREATE A LIST THAT HOLDS 10 VALUES

In [2]:
#Creating "mylist10"
mylist10 = [13, 29, 21, 92, 192, 30, 291, 425, 9, 100]
mylist10 #display values of mylist10

[13, 29, 21, 92, 192, 30, 291, 425, 9, 100]

#3. CREATE A SIMPLE DICTIONARY THAT STORES 2 VARIABLES

##For example: First and last name

In [13]:
#Creating my dictionary "mydict2"
mydict2 = {'key1':['Vince','Pamolarco'], 'key2':['Genghis','Khan']}
mydict2 #Display keys and value of "mydict2"

{'key1': ['Vince', 'Pamolarco'], 'key2': ['Genghis', 'Khan']}

#4. PRINT OUT THOSE VARIABLES STORED IN YOUR PREVIOUS DICTIONARY

In [14]:
#Display values of key1 in mydict2
mydict2['key1']

['Vince', 'Pamolarco']

#5. PRINT OUT THOSE VARIABLES ON PRINTING

##For example: "Hello, firstname lastname!"

In [21]:
#In a sentence, display value in "mydict2"
print('Hello,', mydict2['key1'][0], mydict2['key1'][1], '!')

Hello, Vince Pamolarco !

#6. CREATE A DICTIONARY THAT HOLDS 2 KEY: VALUE PAIRS

In [22]:
#Creating mydict_pairs
mydict_pairs = {'key1':'NYC','key2':'Tech','key3':'Talent','key4':'Pipeline'}
mydict_pairs

{'key1': 'NYC', 'key2': 'Tech', 'key3': 'Talent', 'key4': 'Pipeline'}

#7. LOOK THROUGH YOUR DICTIONARY AND PRINT EACH PAIR

In [26]:
#Using for-loop, display values by their keys
for i in mydict_pairs:
  print(mydict_pairs[i])

NYC
Tech
Talent
Pipeline

#8.CREATE A NESTED DICTIONARY CONTAINING THREE DICTIONARIES

##These dictionaries could be anything (favorite pets, travel locations, etc.)

In [81]:
#Setting up dictionary
Mah_Favorite = {'Pet':'Dog', 'Place': 'NYC', 'Name':'Vince'}
#Display dictionary
Mah_Favorite

{'Name': 'Vince', 'Pet': 'Dog', 'Place': 'NYC'}

#9. LOOP THROUGH THE DICTIONARIES AND PRINT A MESSAGE FOR EACH

In [82]:
#For-loop Mah_Favorite
for i in Mah_Favorite:

  #Print every key and value of Mah_Favorite
  print('My favorite', i, 'is: ', Mah_Favorite[i])

My favorite Pet is:  Dog
My favorite Place is:  NYC
My favorite Name is:  Vince

#10. WRITE A PROGRAM THAT TAKES A GROUP OF NUMBERS AND CHECKS IF THE GROUP ARE THE SAME OR DIFFERENT

In [66]:
list1 = (1,2,4)
list2 = (1,2,3)
#10 Initializes 2 tuples

if(list1 == list2):
  #checks if both tuples have the same values
 print('they match')
else:
  #if they don't match it will print out that they don't match
  print('they don\'t match')

they don't match

#11. GENERATE A LIST OF FIVE NUMBERS

In [88]:
import random
#import random library

list_x = []
#create an empty list

for i in range(5):
#a loop runs from zero to 5
  x = random.randrange(20, 100, 3)
  #x is generated in the range is 20 to 100, skipping 3
  list_x.append(x)
  #send the value of x just generated to the empty list's end

list_x
#call list

[68, 68, 29, 95, 44]

#12. WRITE A PROGRAM TO CREATE ALL POSSIBLE COMBOS OF VOWELS USING EACH VOWEL ONCE.

In [87]:
#list all vowels in dictonary
vowels = ('a','e','i','o','u')

for i in vowels: #For-loop by first letter
  for j in vowels: #For-loop by second letter
    print(i+j)      #Print combo

aa
ae
ai
ao
au
ea
ee
ei
eo
eu
ia
ie
ii
io
iu
oa
oe
oi
oo
ou
ua
ue
ui
uo
uu

#13. WRITE A PROGRAM TO REMOVE AND PRINT EVERY THIRD NUMBER FROM A LIST UNTIL THE LIST IS EMPTY.

In [ ]:

list_y = [1,2,3,4,5,6,7,8,9,10]
#create a list with 10 items
while(len(list_y) > 2):
  #while the length of list y is larger than 2
  print(list_y.pop(2))
  #print and delete the third item

print(list_y)
#print out what has left in the list

if(len(list_y))<3:
  #if the list's length is smaller than 3
  list_y = []
  #empty the list

print(list_y)
#print empty list

#14. WRITE A PROGRAM THAT PRINT A LIST OF 10 RANDOM NUMBERS.

In [89]:
import random
#import random library

list_x = []
#create an empty list

for i in range(10):
#a loop runs from zero to 5
  x = random.randrange(20, 100, 3)
  #x is generated in the range is 20 to 100, skipping 3
  list_x.append(x)
  #send the value of x just generated to the empty list's end

list_x
#call list

[44, 44, 65, 23, 38, 35, 20, 41, 77, 74]

#15. WRITE A PROGRAM TO SUM UP THREE NUMBERS FROM A LIST

In [ ]:

list_o = [1,2,3]
#three items in a list
sum = 0
#initialise sum = 0

for i in range(3):
  #loop that goes 3 times
  sum += list_o[i]
  #add the item to sum

print(sum)
#print sum