<a href="https://colab.research.google.com/github/vincepogz/CUNY2X-TTP-Notes/blob/main/Copy_of_Day_2_Collection_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Collection Data Types

Lists, Dictionaries & Tuples

##Lists

Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable (dynamic), meaning the elements inside a list can change.

##Indexing and Slicing

In [ ]:
#Assign a list to an variable name my_list
my_list = [1,2,3]
my_list

[1, 2, 3]

In [ ]:
#Re-assigning my_list
my_list = ['A string', 23, 100.323, 'o']
my_list

['A string', 23, 100.323, 'o']

In [ ]:
#To get the size of my_list
len(my_list)

4

In [ ]:
#Grab everything past "1"
print(my_list[1:])

[23, 100.323, 'o']

In [ ]:
#Grab everything up to "3"
print(my_list[:3])

['A string', 23, 100.323]

In [ ]:
#We can also use + to concatenate lists, just like we did for strings
my_list + ['new item']

In [ ]:
#Note: this doesn't actually change the original list
my_list

['A string', 23, 100.323, 'o']

In [ ]:
# we would have to reassign the list to make the change permanent.
# Reassign
my_list = my_list + ['add new item permanently']

In [ ]:
#Reassigning using append method/function
#Append is used to add something
my_list.append('something')

#Note: concantenate is used to combine two elements

In [ ]:
#We can double the size of the list (even the elements)
my_list * 2

['A string',
 23,
 100.323,
 'o',
 'something',
 'A string',
 23,
 100.323,
 'o',
 'something']

##Basic List Method

In [ ]:
# Create a new list
l = [1,2,3]

In [ ]:
# Append
l.append('append me!')

In [ ]:
#Use pop to "pop off" an item from the list. By default pop takes off the last index, 
# but you can also specify which index to pop off. 
l.pop()
l.pop(1)

2

In [ ]:
l

[1, 3]

## The sort and reverse methods

In [ ]:
new_list = ['a','e','x','b','c']
new_list

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

##Dictionaries

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

'value2'

In [ ]:
# Its important to note that dictionaries are very flexible in the data types they can hold.
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
#Lets call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [ ]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [ ]:
my_dict['key1']
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [ ]:
# We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it.
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

##Dictonary Methods

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

## Tuples

*In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.*

In [ ]:
# Can create a tuple with mixed types
t = (1,2,3)

In [ ]:
# Check len just like a list
len(t)

3

In [ ]:
# Can also mix object types
t = ('one',2, 2)

# Show
t

('one', 2, 2)

In [ ]:
# Use indexing just like we did in lists
t[0]

'one'

In [ ]:
# Slicing just like a list
t[-1]

2

In [ ]:
## Tuple Methods
t.index('one')

0

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

1

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

1