<a href="https://colab.research.google.com/github/vincepogz/CUNY2X-TTP-Notes/blob/main/Day_2_Warmup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Using the Slice Syntax**

*   Select a set of characters from “Hello World” to print
*   Print “Hello World” in reverse

In [1]:
#Correct Solution
txt = "HelloWorld"
print(txt[2:5])

llo

In [2]:
char = "Hello World" #Assigning string to object "char"

#Method to iterate every elements in the object "char"
def reverse(char):      #Method called reverse with parameter "char"
  size = len(char) - 1  #Getting size of "char" -1 (Because of indexing)
  while size >= 0:      #Initializing while condition
    print(char[size])   #Print element in char[#]
    size -= 1           #Subtract 1 to current size

reverse(char)           #Perform reverse() method

d
l
r
o
W

o
l
l
e
H

In [3]:
#Correct Solution
print(txt[::-1])

dlroWolleH

#**Using the input() function**


*   Print user input in reverse
*   Print user input in a sentence

In [4]:
Msg = input("Enter your word/sentence: ") #Assigning string to object "Msg"
reverse(Msg)                              #Perform reverse() method
print(f"You have entered: {Msg}")         #Printing user input

Enter your word/sentence: HelloW
W
o
l
l
e
H
You have entered: HelloW

In [5]:
#Correct Solution
Msg1 = input("Enter your word/sentence: ") #Assigning string to object "Msg"
rMsg = Msg1[::-1]                        #Perform reverse() method
print(f"You have entered: {rMsg}")        #Printing user input

Enter your word/sentence: HellowWorld
You have entered: dlroWwolleH

#**Using the type() function, print out the type of three objects**

*   Find the type of three objects

In [6]:
a = "NYC TTP"
b = 2022
c = ["Vince", 2022]

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'list'>

#**Perform algebraic operations**

*   Add two numbers together
*   Find the square root of 5 numbers
*   Find the whole number of 5 division problems

In [7]:
num1 = 10
num2 = 20

print(num1 + num2)

30

In [8]:
num3 = 5
squareroot = num3 * num3
print(f"The squareroot of {num3} is {squareroot}")

The squareroot of 5 is 25

#**Lists and Arrays**

*   Create two lists and combine them
*   Create two arrays and combine them

In [9]:
list1 = ["NYC", "Tech", "Talent"]
list2 = ["Pipeline"]
alllist = list1 + list2

print(alllist)

['NYC', 'Tech', 'Talent', 'Pipeline']

In [10]:
array1 = (0,2,4,6)
array2 = (1,3,5,9)
allarray = array1 + array2

print(allarray)

(0, 2, 4, 6, 1, 3, 5, 9)

#**Converting Objects**

*   Convert 5 objects from one type to another(ex. Int to Float)
*   Convert a lowercase string to an UPPERCASE STRING

In [11]:
obj1 = "Hello"
obj2 = 12345
obj3 = ["NYC", "TTP"]
obj4 = True
obj5 = 0

print(f"obj1 is : {obj1}")
print(f"obj2 is : {obj2}")
print(f"obj3 is : {obj3}")
print(f"obj4 is : {obj4}")
print(f"obj5 is : {obj5}")

nobject1 = list(obj1)
nobject2 = float(obj2)
nobject3 = str(obj3)
nobject4 = int(obj4)
nobject5 = bool(obj5)

print(f"After converting obj1 is now {nobject1}")
print(f"After converting obj2 is now {nobject2}")
print(f"After converting obj3 is now {nobject3}")
print(f"After converting obj4 is now {nobject4}")
print(f"After converting obj5 is now {nobject5}")

obj1 is : Hello
obj2 is : 12345
obj3 is : ['NYC', 'TTP']
obj4 is : True
obj5 is : 0
After converting obj1 is now ['H', 'e', 'l', 'l', 'o']
After converting obj2 is now 12345.0
After converting obj3 is now ['NYC', 'TTP']
After converting obj4 is now 1
After converting obj5 is now False

In [12]:
charUp = char.upper()
print(charUp)

HELLO WORLD

#CHALLENGE

In [ ]:
a_string = "Python"

for letter in a_string:
  print(letter)

P
y
t
h
o
n

In [ ]:
import sys
print("Python Version")
print(sys.version)
print("Version Info.")
print(sys.version_info)

Python Version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Version Info.
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)