<a href="https://colab.research.google.com/github/vincepogz/CUNY2X-TTP-Notes/blob/main/Day_2_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Initializing list
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
#Print list (based on length of list)
for i in l:
    print(i)

In [ ]:
# Modulo
# The modulo allows us to get the remainder in a division and uses the % symbol. 
17 % 5

In [ ]:
10 % 3

In [ ]:
18 % 7

In [ ]:
# Let's print only the even numbers from a list

mlist = [1,22,332,42,51,6,237,8,93,10, 55, 65, 76, 23, 87, 23, 9,41, 45, 66]
# In the previous line I created a list of numbers.

for number in mlist:
# in this line I create a for loop to iterate through my list of numbers.

  if number % 2 == 0:
  # in this line I am using a conditional statement 'if-statement' to determine if a number is even!
    print(number)
    # in this line I am printing the iterator oafter the conditional statemwent has been executed.

In [ ]:
# Let's print only the even numbers from a list
mlist = [1,22,332,42,51,6,237,8,93,10, 55, 65, 76, 23, 87, 23, 9,41, 45, 66]
for number in mlist:
  if number % 2 == 0:
    print(number)
  else:
    print('Odd Number')

In [ ]:
# Let's print only the odd numbers from a list
mlist = [1,22,332,42,51,6,237,8,93,10, 55, 65, 76, 23, 87, 23, 9,41, 45, 66]
for number in mlist:
  if number % 2 != 0:
    print(number)
  else:
    print('Even Number')

In [ ]:
# Start sum at zero
list_sum = 0 

for num in l:
    list_sum = list_sum + num

print(list_sum)

In [ ]:
for letter in 'This is a string.':
    print(letter)

In [ ]:
l = [(2,4),(6,8),(10,12)]
for tup in l:
    print(tup)

In [ ]:
# Now with unpacking!
for (t1,t2) in l:
    print(t1)

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

In [ ]:
for item in d:
    print(item)

k1
k2
k3

In [ ]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3